<div id="table-wrapper" fxLayout="column">
  <div class="table-option-container " fxLayoutAlign="center baseline" fxLayout="row" fxLayoutGap="30px">
    <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
      <div fxFlex="0 1 calc(15% - 30px)">
        <button mat-flat-button color="primary">
          <mat-icon>list</mat-icon> SAVED LIST
        </button>
      </div>
      <div fxFlex="0 1 calc(15% - 30px)">
        <button [disabled]="true" mat-flat-button color="primary">
          <mat-icon class="btn-icon">tune</mat-icon>SAVED FILTER
        </button>
      </div>
      <div fxFlex="0 1 calc(15% - 30px)">
        <button [disabled]="true" mat-flat-button color="primary">
          <mat-icon class="btn-icon">history</mat-icon> SEARCH HISTORY
        </button>
      </div>

    </div>
    <div fxLayout="column" fxFlex="60">
      <mat-form-field appearance="outline">
        <input placeholder="Search" (keyup)="applyFilter($event)" focused="true" matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="table-container" fxLayout="row" fxLayoutGap="20px">
    <div fxLayout="column" fxFlex="75">
      <div class="table-view">
        <table mat-table aria-describedby="desc" [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="date">
            <th mat-header-cell id="date" *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.noOfEntities===0">
                <mat-icon class="all-inclusive-icon">all_inclusive</mat-icon>
              </span>
              <span *ngIf="row.noOfEntities!==0">{{row.date}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="listName">
            <th class="list-name-th" mat-header-cell id="listName" *matHeaderCellDef mat-sort-header> List Name </th>
            <td class="list-name-th {{row.noOfEntities===0 ?'no-entity-list-color':''}}" mat-cell *matCellDef="let row">
              {{row.listName}} </td>
          </ng-container>

          <ng-container matColumnDef="noOfEntities">
            <th class="no-of-entities-th" mat-header-cell id="noOfEntities" *matHeaderCellDef mat-sort-header> No. Of
              Entities </th>
            <td class="no-of-entities-th" mat-cell *matCellDef="let row"> {{row.noOfEntities}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell id="action" *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color">
              <span>
                <mat-icon class="{{selectedTable.id===row.id ?'icon-selected':''}}">email</mat-icon>
                <mat-icon class="{{selectedTable.id===row.id ?'icon-selected':''}}" *ngIf="row.noOfEntities!==0">share
                </mat-icon>
                <mat-icon class="{{selectedTable.id===row.id ?'icon-selected':''}}" *ngIf="row.noOfEntities!==0">edit
                </mat-icon>
                <mat-icon class="{{selectedTable.id===row.id ?'icon-selected':''}}" *ngIf="row.noOfEntities!==0">delete
                </mat-icon>
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="details">
            <th mat-header-cell id="details" *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let row">
              <span class="details-color {{selectedTable.id===row.id ?'selected-details-color':''}}"
                (click)="getDetails(row)">Details</span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr class="{{selectedTable.id===row.id ?'selected-row':''}}" mat-row
            *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[20, 30, 50, 100]"></mat-paginator>
    </div>
    <div fxLayout="column" fxFlex="25">
      <div id="add-desc-container">
        <span id="no-desc-text"> No description Yet</span>
        <span class="add-desc-text">+ Add Description</span>
      </div>
      <div class="desc-container">
        <div class="details-row" *ngFor="let item of selectedTable.details">{{item}}</div>
      </div>
    </div>
  </div>

</div>
