table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-view {
  max-height: calc(82vh - 16px);
  overflow: auto;
  border-right: 1px solid #edecec;
}

.details-color {
  color: #01579b;
  cursor: pointer;
  padding: 10px;
}

.selected-details-color {
  background-color: #ffffff;
  font-weight: 500;
  border-bottom: 2px solid #01579b;
}


.details-row {
  color: #01579b;
  padding: 10px;
  font-weight: 300;
}

.add-desc-text {
  color: #01579b;
  padding: 10px;
  font-weight: bold;
}

#add-desc-container {
  padding: 10px;
  border: 1px solid #95a8b8;
  background-color: #fafafa;
  margin-bottom: 10px;
  border-radius: 2px;
}

.mat-icon:not(.btn-icon) {
  color: #f0f3f7;
  padding: 7px;
}

.table-option-container {
  background-color: #fafafa;
  padding: 16px;
}

.table-container {
  padding: 16px;
}

table {
  font-size: 16px;
}

.list-name-th {
  width: 40%;
}

.no-of-entities-th {
  width: 20%;
  text-align: end;
  padding-right: 25px;
}

td.list-name-th {
  font-size: 17px;
}

.selected-row {
  background-color: #fafafa;
}

.no-entity-list-color {
  color: #64b5f6;
}

.all-inclusive-icon {
  color: #bbdefb;
}

.icon-selected {
  color: #6d6d6d !important;
}

button {
  padding: 5px 15px 5px 15px;
}

.mat-flat-button[disabled][disabled] {
  background-color: #fafafa;
  columns: #6d6d6d;
}

th {
  font-size: 16px !important;
}

#no-desc-text {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.54);
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #64b5f6 !important;
  background-color: #ffffff;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #64b5f6 !important;
  background-color: #ffffff;
}

input.mat-input-element {
  font-size: 17px;
}


.desc-container {
  height: calc(80vh - 16px);
  overflow-y: auto;
}
